body {
  font-family: sans-serif;
}
/* #flex{
  position: fixed;
  position: static;
  width: 100%;
  margin-top: none;
} */
#ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

#btn{
  /* width: 30%; */
}
#ull {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

#ull a {
  color: white;
  /* font-weight: 800; */
  /* font-size: 30px; */
}
.myBg {
  background-color: #004274;
}

.myBg .nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.second_component_section {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.second_component_section form input {
  width: 400px;
  padding: 0.7rem;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.second_component_section form select {
  padding: 1rem;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  margin-left: 1rem;
}

.second_component_section button {
  background-color: #004274;
  border: none;
  color: white;
  padding: 1rem;
  width: 120px;
  font-weight: 600;
  margin-left: 1rem;
  border-radius: 5px;
}

/* Hero Component */

.heroBg {
  margin-top: 1rem;
  background: url(./assets/h1_hero1.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroBg .inner {
  color: white;
  padding-top: 10%;
  padding-left: 19rem;
}

.heroBg .inner p:nth-child(1) {
  font-size: 25px;
}

.heroBg .inner .p {
  width: 30%;
}

.heroBg .inner h1 {
  font-size: 70px;
}

#pop{
  /* border: 1px solid red; */
  margin-top: none;
}
/* .row{
  border: 1px solid;
  margin-bottom: 20px;
} */
#row span{
  /* border: 1px solid n; */
  color: #00A0EB;
  font-size: 20px;
  margin-bottom: 4px;
}
#row h5 a{
  font-family: "Jost", sans-serif;
  color: #192839;
  margin-top: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
}
#row small{
  color: #5E5E5E;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 0px;
}
#prop h1{
justify-content: center;
text-align: center;
margin-top: 8%;
font-size: 50px;
color: #192839;
font-weight: 500;
}
#prop p{
  /* border: 1px solid; */
  width: 60%;
  margin-left: 20%;
  color: #656565;
  line-height: 1.5;
  margin-top: 2%;
  padding: 0 50px;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 300;

}

 .sec{
  background: url(./Project/Component/section.webp);
  height: 550px;
  margin-top: 7%;
}
#sec{
  border: 1px solid;
  width: 96%;
}
.row img{
  border: 1px solid ;
  width: 120%;
  gap: 1rem;
} 
.how h5{
  font-size: 38px;
  color: white;
  font-weight: 800;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  justify-content: center;
  padding-top: 3%;
 
}
.div{
  display: flex;
  /* border: 1px solid palevioletred; */
  /* gap: 1rem; */
  justify-content: center;
  margin-top: 3%;
  text-align: center;
  color: white;
}
.div h4{
  margin-top: 15%;
}
.div1{
  background:#00A0EB;
  height: 330px;
  width: 20%;
  box-shadow:0px 10px 16px rgba(84,0,0,0.06);
/* border: 1px solid black; */
}
.div2{
  background: #00A0EB;
  height: 330px;
  width: 20%;
  box-shadow:0px 10px 16px rgba(84,0,0,0.06);
}
.div3{
  background: #00A0EB;
  height: 330px;
  width: 20%;
  box-shadow:0px 10px 16px rgba(84,0,0,0.06);
}
 .hotel{
  font-size: 80px;
  margin-left: 40%;
  margin-top: 15%;
}
.prop{
  margin-top: 5%;
}
.bigdiv{
  background-color:#F2F4F8 ; 
  /* height: 400px; */
  margin-top: 5%;
  display: flex;
}
.bigdiv2{
  display: flex;
  width: 30%;
  background-color: #fff;
}
.text{
  margin-top: 5%;
  width: 25%;
  margin-left: 10%;
}
.text p{
  /* width: 60%; */
  margin-top: 5%;
  font-size: 20px;
}
.text button{
  margin-top: 5%;
  height: 50px;
  width: 60%;
  font-size: 20px;
  color: white;
  background-color: #00A0EB;
  border: none;
}
/* .texticon{
  display: flex;
  margin-left: 10%;
  background-color: #fff;
  width: 130%;
  height: 200px;
  justify-content: center;
  margin-top: 20%;
  text-align: center;
  align-items: center;
} */
 .texticon1{
font-size: 60px;
 }
 .texticon2{

 } 
 .texticon3{

 }
  .texticon4{
background-color: #fff;
}
.texticon1 a{
  font-size: large;
} 